.todo-item {
  font:
    14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
  border-bottom: 1px solid #dcd6d6;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  width: 384px;
  height: 43px;
  background-color: #f7fafc;
  border-radius: 8px;

  .todo-value {
    position: relative;
    flex: 1;
    height: 30px;
    margin: auto;
    margin-left: 10px;
    background-color: white;

    .todo-title {
      text-align: left;
      word-break: break-all;
      margin: auto;
      width: 100%;
      font-size: 14px;
      padding: 5px;
      padding-right: 0;
      left: 0;
      position: absolute;
      color: rgb(165, 165, 165);
      border: none;
    }
  }
  .button-group {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    text-decoration: none;
    border: none;
    align-items: center;
    margin-right: 10px;
    color: white;
    font-size: 16px;

    .increase-button {
      background-color: #f56565;
      width: 35px;
      height: 35px;
      border: none;
      color: white;
      cursor: pointer;
    }

    .decrease-button {
      background-color: #4299e1;
      width: 35px;
      height: 35px;
      border: none;
      color: white;
      cursor: pointer;
    }

    .format-button {
      background-color: #ecc94b;
      width: 35px;
      height: 35px;
      border: none;
      color: white;
      cursor: pointer;
    }

    .remove-button {
      background-color: #f7fafc;
      width: 35px;
      height: 35px;
      border: none;
      color: rgb(165, 165, 165);
      cursor: pointer;
    }
  }
}
