@import 'src/styles/variables.scss';
.text-align {
  text-align: center;
  main {
    max-width: 800px;
    margin: auto;
    
    @include mobile {
      max-width: 100%;
    }

    h1 {
      font-size: 4em;
      line-height: 1.1;

      @include mobile {
        font-size: 60px;
      }
    }

    .wrap-todo {
      margin: 0 auto;
      position: relative;
      width: 384px;
    }
  }
}

